
<% profile = ['email', 'username', 'pin', 'website', 'address', 'alias'] %>



<% profile.each do |attribute| %>
  <label for"<%= attribute %>"> <%= attribute %></label>
  <input type="text" name="<%= attribute %>" id="<%= attribute %>" class="fancy_form" >
<% end %>
